.logo img{
    margin: 10px;
    margin-top: 15px;
    float: left;
}

@media screen and (max-width: 650px) {
    .logo img{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .logo p {
        padding: 0;
        width: max-content;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;     
    }
}

.logo {
    /*font-family: LemonMilkbold;*/
    /*color: #3399ff;*/
    overflow: auto;
    text-align: right;
    margin: 0;
    padding: 0;
    color: #3399ff;
    font-size: 20px;
    font-family: futurist;
}

p {
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}