.form-outer-div {
    position: relative;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background: #ebebeb;
    border-radius: 4px;
    box-shadow: 2px 1px 1px #d8d8d8;
}

.form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.form-row {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 50px;
    padding-bottom: 2px;
    margin-bottom: 8px;
}

.login-heading {
    text-align: center;
    font-size: 30px;
    color: #3399ff;
    font-family: acherusgrotesque-regular;
}

.input-label-combo input[type=email], input[type=password]{
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    background: transparent;
}

.input-label-combo > label {
    position: absolute;
    color: #555555;
    top: 0;
    float: left;
    margin-bottom: 1px;
    font-size: 12px;
    font-family: acherusgrotesque-regular;
}
.input-label-combo > input {
    font-size: 16px;
    margin-top: 3px;
    height: 30px;
    color: black;
    font-family: acherusgrotesque-regular;
}

.input-label-combo input[type=email]:focus, input[type=password]:focus {
    outline: none;
    border-bottom: 2px solid #3399ff;
}
  
.input-label-combo input[type=email]:focus + label, input[type=password]:focus + label {
    color: #3399ff;
}

.button > button{
    font-family: acherusgrotesque-regular;
    width: 100%;
    font-size: 16px;
    background: #3399ff;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px 0px;
    border-radius: 2px;
    box-shadow: 5px 5px 10px #c4c4c4;
    transition-duration: 0.5s;
}    
 
.button > button:hover {
    transition-duration: 0.5s;
    cursor: pointer;
    background: #0080ff;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #555555;
    font-size: 35px;
    font-weight: bold;
    transition-duration: 0.05s;
  }
  
  .close:hover,
  .close:focus {
    transition-duration: 0.05s;
    color: #0080ff;
    cursor: pointer;
  }

/* Add Zoom Animation */
.animate {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    left: 0;
    top: -50px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding-top: 100px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 3px;
    text-align: left;
    box-shadow: 2px 2px 20px #555555;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    transition-duration: 0.05s;
  }

  
  @media screen and (max-width: 1200px) {
    .modal-content {
        width: 75%;
        transition-duration: 0.05s;
    }
    .modal {
        padding-top: 130px;
    }
  }

  @media screen and (max-width: 600px) {
    span.psw {
       display: block;
       float: none;
    }
    .modal-content {
        width: 90%;
        transition-duration: 0.05s;
    }
    .modal {
        padding-top: 150px;
    }
  }